* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

.disc-color {
  color: #7289da;
}

/************************************* HEADER *************************************/
header {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

nav {
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem;
}

.nav-small-column {
  color: black;
  width: 15%;
  padding: 0.5rem;
}

.nav-small-right-column {
  text-align: right;
}

.nav-small-column button {
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  border-style: none;
}

.big-column {
  padding: 0.5rem;
  width: 70%;
  text-align: center;
}

.big-column > span {
  padding: 0 1.5rem;
}

h1 {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.big-logo {
  margin-top: 10%;
  color: white;
  text-align: center;
}

.big-logo > p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.big-logo button,
.green-box button {
  margin: 2rem 1rem;
  padding: 2rem 0.5rem;
  border-style: none;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  font-size: 1rem;
}

.dark {
  background-color: #222;
  color: white;
}

/************************************* MAIN *************************************/
.column-container {
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.txt-column {
  width: 19rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
.txt-column p {
  padding-top: 2rem;
}

.lightgray {
  background-color: lightgray;
}

.main-bottom-box {
  text-align: center;
}

.btn-discord {
  color: white;
  background-color: #7289da;
}
.main-bottom-box h2 {
  padding-bottom: 2rem;
}

/************************************* FOOTER *************************************/
footer {
  color: white;
}

.black {
  background-color: #222;
}

.first-footer-container {
  justify-content: center;
  padding: 3rem 0 3rem 0;
}

.ita-img {
  width: 1.3rem;
}

.social-column {
  width: 15rem;
}

.first-footer-container-right-column {
  width: 47%;
}

.first-footer-container-small-column {
  width: calc(100% / 4);
  line-height: 2rem;
  padding-left: 2rem;
}

.second-footer-container {
  justify-content: center;
}

.footer-last-line {
  width: 70%;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding: 1rem 0;
}

h3.disc-color {
  padding-bottom: 1rem;
}

.social-icon i {
  padding: 1rem 1rem 0 0;
}

.footer-last-line button {
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  border-style: none;
  background-color: #7289da;
  color: white;
}
