* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

.border {
  border: 2px dashed black;
}

/************************************* HEADER *************************************/
header {
  background-image: url(../img/jumbo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 50rem;
}

nav {
  color: white;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 0.5rem;
}

.small-column {
  color: black;
  width: 15%;
  padding: 0.5rem;
}

.right-column {
  text-align: right;
}

.big-column > span {
  padding: 0 1.5rem;
}

.big-column {
  padding: 0.5rem;
  width: 70%;
  text-align: center;
}

h1 {
  font-size: 4rem;
  padding-bottom: 3rem;
}

.big-logo > p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.big-logo button {
  margin: 2rem 1rem;
  padding: 2rem 0.5rem;
  border-style: none;
  padding: 0.8rem 1rem;
  border-radius: 25px;
  font-size: 1rem;
}

.dark {
  background-color: #222;
  color: white;
}

.big-logo {
  margin-top: 10%;
  width: 70rem;
  color: white;
  text-align: center;
}

.small-column button {
  padding: 0.5rem 0.8rem;
  border-radius: 25px;
  border-style: none;
}

/************************************* MAIN *************************************/
.column-container {
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.img-column {
}

.txt-column {
  width: 19rem;
}
h2 {
  font-size: 2.5rem;
}
.txt-column p {
  padding-top: 2rem;
}

.lightgray {
  background-color: lightgray;
}

.green-box {
  text-align: center;
}

/************************************* FOOTER *************************************/
.black {
  background-color: #222;
}

.first-footer-container {
  justify-content: center;
  padding: 1rem 0 3rem 0;
}

.crimson-column {
  width: 23%;
  min-height: 33rem;
  background-color: crimson;
}

.green-column {
  width: 47%;
  min-height: 33rem;
  background-color: aqua;
}

.small-green-column {
  width: calc(100% / 4);
  border: 2px dashed white;
}

.second-footer-container {
  justify-content: center;
  align-items: flex-end;
  min-height: 4rem;
  border-bottom: 1px solid white;
}

.aquamarine-box {
  width: 70%;
  min-height: 3rem;
  background-color: aquamarine;
  justify-content: space-between;
  align-items: center;
}

.footer-line {
  background-color: coral;
}
